<div class="card text-center mx-auto mb-5" style="width: 40rem;">
  <div class="card-header">
    <h2><u><%= @poem.title %></u></h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= simple_format @poem.content %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= @poem.category_name %>
  </div>
</div>
