<% if current_user %>
  <center><h2>Welcome <%= current_user.name %></h2>
<% else %>
  <div class="card text-center mx-auto mb-5" style="width: 30rem;">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to <h2 class="title">desktopoetry</h2></h5>
      <p class="card-text">An app that allows poets to easily create & manage their poetry.</p>
      <a href="/users/sign_up" class="btn btn-dark">Sign Up</a>  || <a href="/users/sign_in" class="btn btn-dark">Sign In</a>
    </div>
  </div>
<% end %>
