/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
Rose Gold: #bd8c7d

Soft Gold: #d1bfa7

Silver: #8e8e90

Onyx: #49494b
*/

 @import "bootstrap";

 body {
   font: 100% Helvetica, sans-serif;
   background-color: #8e8e90;
   color: #49494b;
   font-family: 'Pathway Gothic One', sans-serif;
 }

a.navbar-brand.title,
.title {
  font: 100% 'IM Fell Great Primer', serif;
  font-size: 2.0em;
  color: #bd8c7d;
}

h2 {
  color: #bd8c7d;
}

.navbar-light .navbar-nav .nav-link {
  color: #49494b;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.3em;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #d1bfa7;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #d1bfa7;
}

input#user_email,
input#user_password {
  padding: 6px;
  margin-left: 13px;
}
