<div class="card text-center mx-auto mb-5" style="width: 32rem; background-color: #626263;">
  <div class="card-header">
    <center><h2>Your Categories</h2></center>
  </div>
</div>
<% @categories.each do |category| %>
  <%= render partial: "index_show", locals: {category: category} %>
<% end %>
