<%= render partial: 'layouts/errors', locals: {object: @category} %>
<div class="card text-center mx-auto mb-5" style="width: 37rem;">
  <div class="card-header">
    <h2>Create A New Category</h2>
  </div>
  <%= render partial: 'form', locals: {category: @category} %>
</div>
